.App {
  text-align: center;
}

header{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.add-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}

.add-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 0 0.5rem;
}

.notes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 1rem auto;
}

.note{
  padding: 1rem;
  border: 1px solid rgb(34, 34, 218);
  text-align: center;
  color: black;
  background: rgba(45, 45, 219, 0.473) ;
  width: 100%;
  align-self: center;
  margin: 0.5rem auto;
  max-width: 300px;
  border-radius: 20px;
}